@import "./utilities/keyframes";
@import "./utilities/mixins";
@import "./layout/banner-header";
@import "./layout/footer";
@import "./layout/loader";
@import "./layout/nav";
@import "./layout/paginator";
@import "./pages/section_comics";
@import "./pages/section-personajes";
@import "./pages/section-results";
@import "./components/cards";


* {
  box-sizing: border-box;
  position: relative;
}

.principal {
  color: #151515;
  .main {
    flex-grow: 1;
  }
}

