<!DOCTYPE html>
<html lang="es">

<head>
  <!-- <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    /> -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png" />

  <link rel="stylesheet" href="../css/style.css" />
  <title>ADAComics</title>
</head>

<body id="body" class="principal">
  <!-- ******************************************
                     HEADER - BANNER
    ********************************************* -->
  <header class="header">
    <div class="banner">
      <div class="titulo">
        <h1>
          <span class="ada">ADA</span> <span class="comics">COMICS</span>
        </h1>
      </div>
    </div>
  </header>
  <!-- ******************************************
                  SECCIÓN PRINCIPAL
    ********************************************* -->
  <main class="main">
    <div class="container d-flex flex-column justify-content-center">
      <!-- ******************************************
                  MENÚ DE NAVEGACIÓN
      ********************************************* -->
      <nav class="margen-inferior-nav">
        <div class="row">
          <div class="col-12">
            <h4 class="fw-bold">Búsqueda</h4>
          </div>
        </div>
        <form id="form-search">
          <div class="row">
            <div class="col-12 col-lg-6 d-flex flex-row align-items-center">
              <div class="input-group mb-3 align-self-center">
                <span class="input-group-text border-0 border-bottom rounded-0 border-2 border-dark"
                  id="basic-addon3"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text"
                  class="form-control border-0 border-bottom rounded-0 border-2 border-dark fs-5 estilo-focus"
                  id="input-search" aria-describedby="input-search" placeholder="Ingresa tu búsqueda" />
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="row d-flex flex-row justify-content-start">
                <div class="col-12 col-sm-5 col-lg-5 d-flex flex-row align-items-center margen-derecho">
                  <label for="select-tipo" class="fw-bold text-secondary margen-derecho">TIPO</label>
                  <select id="select-tipo" class="form-select border-0 fw-bold rounded-0 estilo-focus">
                    <option value="comics">COMICS</option>
                    <option value="characters">PERSONAJES</option>
                  </select>
                </div>
                <div class="col-12 col-sm-5 col-lg-5 d-flex flex-row align-items-center">
                  <label for="select-order" class="fw-bold text-secondary margen-derecho">ORDEN</label>
                  <select id="select-order" class="form-select border-0 fw-bold rounded-0 estilo-focus">
                    
                  </select>
                </div>
                <div class="col-12 col-sm-1 col-lg-1 d-flex flex-row align-items-center box-btn-buscar">
                  <button id="btn-search" type="submit" class="btn btn-dark rounded-1 box-btn-buscar">
                    BUSCAR
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </nav>

      <!-- ******************************************
                  SECCIÓN RESULTADOS
    ********************************************* -->
      <section>
        <div class="d-flex flex-column justify-content-center">
          <div class="resultados-info">
            <h4 class="fw-bold" id="results-title">Resultados</h4>
            <div id="results-counter" class="fs-6 text-secondary fw-bold">
              <p class="results-count">
                <span class="results-number">0</span> RESULTADOS
              </p>
            </div>
            <div id="card-group" class="cards"></div>
          </div>
        </div>
      </section>
      <!-- ******************************************
                     LOADER
    ********************************************* -->
      <div class="loader-container">
        <img src="../assets/icons/Hammer.png" class="ld ld-flip-h thor" alt="" />
      </div>
      <!-- ******************************************
                  PAGINADOR
    ********************************************* -->
      <div class="container-paginador d-flex justify-content-center">
        <p class="fw-bold">
          Página <span id="current-page"></span> de
          <span id="total-pages"></span>
        </p>
      </div>
      <div class="pagination">
        <button id="first" type="button" class="first-page pagination-button" aria-label="Página previa" disabled="">
          <i class="fas fa-angle-double-left" aria-hidden="true"></i>
        </button>
        <button id="previous" type="button" class="previous-page pagination-button" aria-label="Página Anterior"
          disabled="">
          <i class="fas fa-angle-left" aria-hidden="true"></i>
        </button>
        <button id="next" type="button" class="next-page pagination-button" aria-label="Siguiente Página">
          <i class="fas fa-angle-right" aria-hidden="true"></i>
        </button>
        <button id="last" type="button" class="last-page pagination-button" aria-label="Última página">
          <i class="fas fa-angle-double-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </main>
  <!-- ******************************************
                       FOOTER
    ********************************************* -->
  <footer id="footer" class="border-top border-secondary border-1">
    <div class="social-media d-flex justify-content-center">
    <ul>
      <li>
        <a aria-label="link de linkedin" href="https://www.linkedin.com/in/stefania-diaz-valencia" target="_blank">
          <i class="fa-brands fa-linkedin iconos-footer"></i>
        </a>
      </li>
      <li>
        <a aria-label="link de github" href="https://github.com/StefaniaDiazV" target="_blank">
        <i class="fa-brands fa-github iconos-footer"></i>
        </a>
      </li>
      <li>
        <a aria-label="link al correo electronico href="mailto:stefaniadiazvalencia@gmail.com" target="_blank" >
          <i class="fa-solid fa-envelope iconos-footer"></i>
        </a>
      </li>
    </ul>
  </div>
    <p>Hecho con ❤️ por Stefania</p>
  </footer>
  <script src="https://kit.fontawesome.com/4943010bed.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- bootstap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
  </script>
  <!-- custom-js -->
  <script src="../js/global.js"></script>
  <script src="../api/comics.js"></script>
  <script src="../api/characters.js"></script>
  <script src="../js/index.js"></script>
</body>

</html>