.header {
  margin-bottom: 5rem;
  .banner {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 70vh;
    max-height: 550px;
    min-width: 300px;
    color: #eee;
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.12) 40%,
        rgba(27, 32, 48, 1) 100%
      );
    }
    &:before {
      content: "";
      width: 100%;
      height: 150%;
      position: absolute;
      top: -49px;
      left: 0;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0);
      backface-visibility: hidden;
      scale: (1, 1);
      transform: translateZ(0);
      background: #1b2030 url("/assets/img/marvel-legacy-header.jpg") 50% -50% no-repeat;
      // filter: grayscale(100%);
      background-size: cover;
      background-attachment: fixed;
      @include animacion(grow, 60s, linear, 10ms, infinite);
      transition: all 0.4s ease-in-out;
      z-index: -2;
    }
    .titulo {
      flex: 0 0 auto;
      width: 100%;
      padding-top: 15%;
      text-align: center;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      h1 {
        flex-wrap: wrap-reverse;
        font-size: 100px;
        .ada {
          // border: 5px solid #ed1d23;
          // background-color: #ed1d23;
          border: 5px solid black;
          background-color: black;
        }
        .comics {
          border-top: 5px solid white;
          border-bottom: 5px solid white;
          margin-left: 20px;
        }
      }
    }
  }
}
