.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .main {
    flex: 1 0 auto;
  }
  .footer-bg {
    background-color: $primary-background;
    color: $primary-color;
    padding-top: 20px;
    // .copyright {
    //   background-color: rgba(51, 51, 51, 0);
    // }
  }
}
